<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 DevBlog. All rights reserved.</p>
      <div class="footer-links">
        <a href="/" class="footer-link">Home</a>
        <a href="https://arunjangir8.github.io/portfolio2.0/" class="footer-link" target="_blank">Portfolio</a>
        <a href="https://github.com/Arunjangir8" class="footer-link" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>
  
<script>
    function toggleTheme() {
        const body = document.body;
        if (body.classList.contains('light-mode')) {
            body.classList.remove('light-mode');
            body.classList.add('dark-mode');
        } else {
            body.classList.remove('dark-mode');
            body.classList.add('light-mode');
        }
    }
</script>
<script type="module" src="/scripts/effects.js"></script>
</body>
</html>