<%- include("partials/head.ejs") %>

<div class="main formOfLoginPost">
    <div class="thought-container" id="DelectPostContainer">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
        <form action="/deletePost" method="post" id="loginPost" style="">

            <h2 class="headingOfNewPost" style="font-size: 50px;">Password</h2>
            
            <input type="text" name="password" placeholder="password" required id="loginInput" style="width: 45vw; ">
            
            <button type="submit" class="loginPostSubmitButton" id="loginPostSubmitButton" style="scale: 1.2;">Delete!</button>
            
        </form>
    </div>
</div>

<%- include("partials/foot.ejs") %>