<%- include("partials/head.ejs") %>
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div id="formOfLoginPost" class="thought-container">
        <form action="/editor" method="post" id="loginPost" >
        <h1>Enter <span3>password</span3> to acess post</h1>
        <% if(locals.passwordWrong){ %>
            <h2>try again!</h2>
            <% } %>
        
            <input type="text" name="password" placeholder="password" required id="loginInput" style="margin-top: 40px; margin-bottom: 40px;">
        
            <button type="submit" class="loginPostSubmitButton" id="loginPostSubmitButton">Submit ></button>
        
        </form>
    </div>
</div>

<%- include("partials/foot.ejs") %>