<%- include("partials/head.ejs") %>
<div class="main main-post">
    <div class="thought-container container-post">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
        <form action="/submit" method="post" id="newPostForm">
            <ul>
                <li>
                    <input type="text" name="heading" id="heading" required placeholder="Type your heading here...">
                </li>
                <li>
                    <textarea name="body" id="body" required placeholder="Type your blog here..."></textarea>
                </li>
                <li>
                    <h2 class="headingOfNewPost" style="text-align: center; font-size: 20px; color: black;">Password</h2>
                    <input type="text" id="password" required name="password" placeholder="password">
                </li>
                <li>
                    <button type="submit" id="postSubmitButton" class="postSubmitButton-permanent">Post!</button>
                </li>
            </ul>
        </form>
    </div>
</div>

<%- include("partials/foot.ejs") %>