<%- include("partials/head.ejs") %>
<div class="main">
    <div class="thought-container">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
        <h2 style="text-align: center; color: #6b6bf8; font-size: 25px;padding-bottom: 20px;"><%= heading %></h2>
        <p style="text-align: center; color: black; font-size: 18px;"><%= body %></p>
        
    </div>
</div>
<%- include("partials/foot.ejs") %>
